<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr" crossorigin="anonymous"></script>

    <!-- Roboto Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="styles/style.css">

    <title>Registration Page</title>
</head>

<body class="d-flex flex-column justify-content-center min-vh-100">
    <main class="container p-3 shadow-lg rounded-1" style="height: 650px;">
        <div class="row mb-4">
            <h1 class="text-center fw-bold">KIDS INNOVATE AFRICA</h1>
        </div>
        <div class="row d-flex justify-content-center mb-3">
            <!-- IMAGE COLUMN -->
            <section class="d-none d-lg-block col-lg-5 d-flex justify-content-center">
                <img src="./images/robotics-kids.png" alt="" class="img-fluid circle rounded-circle"
                    style="height: 424px; width: 424px; object-fit: cover;">
            </section>
            <!-- FORM COLUMN -->
            <section class="col-lg-5 px-md-5">
                <form method="POST" action="/register" autocomplete="off" novalidate>
                    <!-- STEP 1 (PARENT DETAILS) -->
                    <div class="form-step form-step-active">
                        <!-- Name -->
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input id="name" name="name" type="text" class="form-control rounded-0"
                                    placeholder="name" minLength="5">
                                <label for="name" class="form-label">Name</label>
                            </div>
                            <span class="input-group-text rounded-0" id="name">
                                <i class="bi bi-person-fill"></i>
                            </span>
                        </div>
                        <!-- Surname -->
                        <div class="form-floating mb-3">
                            <input id="surname" name="surname" type="text" class="form-control rounded-0"
                                placeholder="surname">
                            <label for="surname" class="form-label">Surname</label>
                        </div>
                        <!-- Email -->
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input id="email" name="email" type="email" class="form-control rounded-0"
                                    placeholder="example@gmail.com">
                                <label for="email" class="form-label">Email</label>
                            </div>
                            <span class="input-group-text rounded-0" id="email">@</span>
                        </div>
                        <!-- Birthdate and Gender row -->
                        <div class="row">
                            <!-- Birthdate -->
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" id="datepicker" name="birthdate"
                                            class="form-control datepicker rounded-0" placeholder="birthdate">
                                        <label for="datepicker">Date of Birth</label>
                                    </div>
                                    <span class="input-group-text rounded-0" id="name">
                                        <i class="bi bi-calendar-event"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <select id="gender" name="gender" class="form-select rounded-0" aria-label="gender">
                                        <option selected>M</option>
                                        <option>F</option>
                                        <option>Other</option>
                                    </select>
                                    <label for="gender">Gender</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <!-- Mobile Version (small select) -->
                            <select id="nationality" name="nationality" class="form-select form-select-none rounded-0"
                                aria-label="Nationality">
                                <option selected>Select an option</option>
                                <%for (let country of countries) { %>
                                    <% if (country.demonym==='South African' ) { %>
                                        <option selected>
                                            <%= country.demonym %>
                                        </option>
                                        <% } else { %>
                                            <option>
                                                <%= country.demonym %>
                                            </option>
                                            <% } %>
                                                <option>
                                                    <%=country.demonym%>
                                                </option>
                                                <% } %>
                            </select>
                            <!-- Mobile Version (small select) -->

                            <label for="nationality">Nationality</label>
                        </div>
                        <!-- Calling Code and Number row -->
                        <div class="row mb-3">
                            <!-- Calling Code -->
                            <div class="col-4">
                                <div class="form-floating">
                                    <select id="calling-code" name="callingCode" class="form-select rounded-0"
                                        aria-label="Code">
                                        <% for (let country of countries) {%>
                                            <% if (country.callingCode==='+27' ) { %>
                                                <option selected>
                                                    <%= country.callingCode %>
                                                </option>
                                                <% } else { %>
                                                    <option>
                                                        <%= country.callingCode %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                    </select>
                                    <label for="calling-code" class="form-label">Code</label>
                                </div>
                            </div>
                            <!-- Number -->
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <input id="number" name="number" type="text"
                                            class="form-control w-100 rounded-0" placeholder="Number">
                                        <label for="number" class="form-label">Number</label>
                                    </div>
                                    <span class="input-group-text rounded-0">
                                        <i class="bi bi-telephone-fill"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Back/Next Buttons -->
                        <div class="d-flex justify-content-end">
                            <button type="button"
                                class="back-btn btn btn-outline-primary mx-2 px-3 rounded-5 disabled">Back</button>
                            <button type="button" class="next-btn btn btn-outline-success px-3 rounded-5">Next</button>
                        </div>
                    </div>
                    <!-- STEP 2 (RESIDENCE) -->
                    <div class="form-step">
                        <h4 class="text-center">Residence</h4>
                        <!-- Country -->
                        <div class="form-floating mb-3">
                            <select id="country" name="country" class="form-select rounded-0" aria-label="country">
                                <option selected>Select an option</option>
                                <%for (let country of countries) { %>
                                    <% if (country.name==='South Africa' ) { %>
                                        <option selected>
                                            <%= country.name %>
                                        </option>
                                        <% } else { %>
                                            <option>
                                                <%=country.name%>
                                            </option>
                                            <% } %>
                                                <% } %>
                            </select>
                            <label for="country">Country</label>
                        </div>
                        <div class="row">
                            <!-- City -->
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input id="city" name="city" type="text" class="form-control rounded-0"
                                            placeholder="27 Redwood Drive">
                                        <label for="city" class="form-label">City</label>
                                    </div>
                                    <span class="input-group-text rounded-0">
                                        <i class="bi bi-building"></i>
                                    </span>
                                </div>
                            </div>
                            <!-- Postal code -->
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input id="postalCode" name="postalCode" type="text" class="form-control rounded-0"
                                        placeholder="postalCode">
                                    <label for="postalCode" class="form-label">Postal</label>
                                </div>
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input id="address" name="address" type="text" class="form-control rounded-0"
                                    placeholder="27 Redwood Drive">
                                <label for="address" class="form-label">Address</label>
                            </div>
                            <span class="input-group-text rounded-0">
                                <i class="bi bi-house-door-fill" id="address"></i>
                            </span>
                        </div>
                        <!-- Back/Next Buttons -->
                        <div class="d-flex justify-content-end">
                            <button type="button"
                                class="back-btn btn btn-outline-primary mx-2 px-3 rounded-5">Back</button>
                            <button type="button" class="next-btn btn btn-outline-success px-3 rounded-5">Next</button>
                        </div>
                    </div>
                    <!-- STEP 3 (ENROLLING STUDENTS) -->
                    <div class="form-step">
                        <!-- Enrolling -->
                        <div class="form-floating mb-3">
                            <select id="enrolling" name="enrolling" class="form-select enrolling-select rounded-0"
                                aria-label="Enrolling">
                                <option selected>How many kids are enrolling?</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <label for="enrolling">Enrolling</label>
                        </div>
                        <div class="enrolling-inputs-container">
                            <!-- <div class="row">
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input id="name" name="[learner][name]" type="text" class="form-control"
                                                placeholder="name">
                                            <label for="name" class="form-label">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input id="surname" name="[learner][surname]" type="text" class="form-control"
                                            placeholder="surname">
                                        <label for="surname" class="form-label">Surname</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <select id="gender" name="gender" class="form-select" aria-label="gender">
                                            <option selected>M</option>
                                            <option>F</option>
                                            <option>Other</option>
                                        </select>
                                        <label for="gender">Gender</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input id="name" name="[learner][name]" type="text" class="form-control"
                                                placeholder="name">
                                            <label for="name" class="form-label">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input id="surname" name="[learner][surname]" type="text" class="form-control"
                                            placeholder="surname">
                                        <label for="surname" class="form-label">Surname</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <select id="gender" name="gender" class="form-select" aria-label="gender">
                                            <option selected>M</option>
                                            <option>F</option>
                                            <option>Other</option>
                                        </select>
                                        <label for="gender">Gender</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input id="name" name="[learner][name]" type="text" class="form-control"
                                                placeholder="name">
                                            <label for="name" class="form-label">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input id="surname" name="[learner][surname]" type="text" class="form-control"
                                            placeholder="surname">
                                        <label for="surname" class="form-label">Surname</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <select id="gender" name="gender" class="form-select" aria-label="gender">
                                            <option selected>M</option>
                                            <option>F</option>
                                            <option>Other</option>
                                        </select>
                                        <label for="gender">Gender</label>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- Back/Next Buttons -->
                        <div class="d-flex justify-content-end">
                            <button type="button"
                                class="back-btn btn btn-outline-primary mx-2 px-3 rounded-5">Back</button>
                            <button type="button" class="next-btn btn btn-outline-success px-3 rounded-5">Next</button>
                        </div>
                    </div>
                    <!-- STEP 4 (LEARNER DETAILS) -->
                    <div class="form-step">
                        <!-- Learner Form Step (Generated) -->
                        <div class="learners-form-steps-container">
                            <!-- <div class="learner-form-step">
                                <h3 class="d-flex align-items-center justify-content-center rounded-top-3"
                                    style="background-color: lightsteelblue; height: 44px;">
                                    Khutso Mphahlele
                                </h3>
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <input type="text" id="datepicker" class="date-picker" name="learners[birthdate]"
                                            class="form-control" placeholder="birthdate">
                                        <label for="datepicker">Date of Birth</label>
                                    </div>
                                    <span class="input-group-text" id="name">
                                        <i class="bi bi-calendar-event"></i>
                                    </span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <select id="school" name="learners[school]" class="form-select school-select"
                                            aria-label="school">
                                            <option selected>Select an option</option>
                                            <option>Sunningdale</option>
                                            <option>Milnerton Primary School</option>
                                            <option>Edgemead High School</option>
                                            <option>Edgemead Primary School</option>
                                            <option>Other</option>
                                        </select>
                                        <label for="school">School</label>
                                    </div>
                                    <span class="input-group-text" id="school">
                                        <i class="fa-solid fa-school-flag"></i>
                                    </span>
                                </div>
                                <div class="input-group mb-3 school-input-container d-none">
                                    <div class="form-floating">
                                        <input id="school-input" name="learners[school]" type="text"
                                            class="form-control school-input" placeholder="school-input">
                                        <label for="school-input" class="form-label">Enter the name of the school
                                            here</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-floating">
                                        <select id="venue" name="learners[venue]" class="form-select"
                                            aria-label="venue">
                                            <option selected>Select an option</option>
                                            <option>KIA Office</option>
                                            <option>Zastron Studio (Milnerton)</option>
                                            <option>Edgemead High School</option>
                                            <option>Kensio House</option>
                                        </select>
                                        <label for="venue">Venue</label>
                                    </div>
                                    <span class="input-group-text" id="school">
                                        <i class="bi bi-geo-alt-fill"></i>
                                    </span>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea name="learners[note]" class="form-control" placeholder="Notes" id="notes"
                                        style="height: 150px; resize: none"></textarea>
                                    <label for="notes">Anything to take note of Jason (Allergies/Conditions/etc)</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn learner-back-btn fs-3 rounded-circle p-0 mx-2"
                                        style="transform: scaleX(-1)">
                                        <i class="bi bi-arrow-right-circle-fill"></i>
                                    </button>
                                    <button type="button" class="btn learner-next-btn fs-3 rounded-circle p-0 mx-2">
                                        <i class="bi bi-arrow-right-circle-fill"></i>
                                    </button>
                                </div>
                            </div> -->
                        </div>
                        <!-- Back/Next Buttons -->
                        <div class="d-flex justify-content-end">
                            <button type="button"
                                class="back-btn btn btn-outline-primary mx-2 px-3 rounded-5">Back</button>
                            <button type="button"
                                class="modal-btn btn-outline-success btn px-3 rounded-5 register-btn disabled"
                                data-bs-toggle="modal" data-bs-target="#disclaimer-modal">Register</button>
                        </div>
                    </div>
                    <!-- STEP 5 (THANK YOU!) -->
                    <!-- Modal -->
                    <div class="modal fade" id="disclaimer-modal" tabindex="-1" aria-labelledby="modal-title"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-center" id="modal-title">Disclaimer</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-labelledby="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-4">
                                        <h5 class="text-center mb-2">Payment Terms:</h5>
                                        <p class="mb-2">
                                            A sibling discount of 5% applies. Discount applies for those paying for
                                            term.
                                            All payments are required in advance.
                                        <p>
                                        <p class="mb-2">
                                            Payment is to be made by way of an Electronic Funds Transfer ("EFT").
                                            Include a
                                            cash handling fee of R15 for branch or R9 for ATM cash deposits. Please use
                                            the
                                            Initials & Surname of the learner (e.g. M Foster) or the invoice number as
                                            payment reference.
                                        </p>
                                        <p class="mb-2">
                                            The workshops are generally mobile but venue details will be shared with
                                            those
                                            confirmed.
                                        </p>
                                        <p class="mb-2">
                                            Booking is only confirmed as secured once an invoice has been issued and
                                            payment
                                            has been made and proof of payment emailed to KIA.
                                            Access to the learning room would only be allowed for those who have secured
                                            a
                                            booking with advanced payment. No cash payment at the venue.
                                        </p>
                                    </div>
                                    <div class="mb-4">
                                        <h6>
                                            Cancellation:
                                        </h6>
                                        <p class="mb-2">
                                            Refunds are not possible.
                                        </p>
                                        <p class="mb-2">
                                            A full term's notice (school term) is required for cancelations.
                                            For once-off or convenient bookings: Any cancellations without written
                                            24-hour
                                            notice or a no-show will result in both full forfeiture of the payment and a
                                            rescheduling of the lesson.
                                        </p>
                                        <p class="mb-2">
                                            Billing is applied on a monthly or quarterly basis and no discounts will be
                                            applied/ provided for the public, or school holidays and for the dates our
                                            offices are closed. Check dates here for public or school holidays:
                                            https://www.gov.za/about-sa/public-holidays
                                        </p>
                                        <p class="mb-2">
                                            Should the student skip a month for their enrollment, their booking will be
                                            passed on to the next student on the waiting list.
                                        </p>

                                        <p class="mb-2">
                                            Should KIA be prevented or restricted from carrying out all or any of its
                                            obligations under this agreement as a result of factors outside its control
                                            including but not limited to equipment supply shortages and or act of God or
                                            civil unrest or any other cause or contingency beyond the company's control,
                                            then KIA shall be relieved of its obligations hereunder during the period
                                            that
                                            such event and its consequences continue, but only to the extent so
                                            prevented
                                            and shall not be liable for any delay or failure in the performance of any
                                            obligations hereunder or loss or damages either general, special or
                                            consequential which the other party may suffer due to or resulting from such
                                            delay or failure, provided always that written notice shall forthwith be
                                            given
                                            of any such inability to perform by the affected Party.
                                        </p>
                                        <p class="mb-2">
                                            Fees are increased annually at a rate of 10% - 15%.
                                        </p>
                                    </div>
                                    <div class="mb-4">
                                        <h5 class="text-center">Other:</h5>
                                        <p class="mb-2">
                                            The parent/guardian understands that the educational and recreational
                                            activities
                                            offered by Kids Innovate Africa may be dangerous with many inherent risks
                                            and
                                            hazards (including inter alia small Lego and/or building parts that may
                                            constitute a choking hazard), and as a consequence, personal injury and
                                            sometimes death can occur and the parent/guardian assumes and accepts all
                                            such
                                            risks on behalf of their child/children and hereby waives the right to sue
                                            Kids
                                            Innovate Africa, its employees, directors, partners or associates for any
                                            personal injury and death suffered by them and/or their child/children in
                                            any
                                            way whatsoever caused by or relating to the parent/guardian and/or their
                                            child/children and/or other participants and/or the participants’
                                            participation
                                            in such activities.
                                        </p>
                                        <p class="mb-2">
                                            Parents, guardians, or any representative of the child acknowledge and agree
                                            that by participating in Kids Innovate Africa’s (KIA) VR-based educational
                                            activities, they assume full responsibility for the child’s health and
                                            safety.
                                            KIA, its owners, directors, staff, associates, and affiliates are not liable
                                            for
                                            any injury, discomfort, or unforeseen incidents that may occur during the
                                            use of
                                            Virtual Reality equipment or activities.
                                        </p>
                                        <p class="mb-2">
                                            Kids Innovate Africa Limited, its employees, directors, partners or
                                            associates
                                            or agents are not liable to the parent/guardian and/or their child/children
                                            for
                                            personal injury or death suffered by the parent/guardian and/or child/
                                            children
                                            because the educational and recreational activities were not supplied with
                                            due
                                            care and skill or were not reasonably fit for their purpose or because of
                                            negligence, breach of contract, statute or statutory duty by Kids Innovate
                                            Africa Limited.
                                        </p>
                                        <p class="mb-2">
                                            The parent/guardian agrees to pay the cost of and authorize Kids Innovate
                                            Africa
                                            to take all steps reasonably necessary to protect the child's welfare in the
                                            event of personal injury, including the administration of any emergency
                                            medical
                                            treatment and ambulance transportation.
                                        </p>
                                        <p class="mb-2">
                                            By registering for the workshops, I accept that KIA and or its
                                            representatives
                                            will photograph and video-record its workshops and the participants
                                            including
                                            child(ren). Such photography, videos, and registration information may be
                                            shared
                                            to an extent with parents of students after workshops and may also be used
                                            by
                                            KIA and its affiliated organizations for marketing and educational purposes,
                                            including but not limited to the promotion of robotics education,
                                            inter-school
                                            robotics competitions, to source funding for future and related events, and
                                            to
                                            access business opportunities related to robotics education. I accept that
                                            such
                                            information shall be used free of charge, and no financial claim,
                                            compensation,
                                            or any claim shall be made or required by myself, child, and or any
                                            representatives from the KIA and its associates or representatives.
                                        </p>
                                        <p class="mb-2">
                                            Registration information, photography, and videos may be retained for as
                                            long as
                                            necessary, regarding relevant laws and regulations, including those relating
                                            to
                                            record-keeping and limitation/prescription periods, in South Africa.
                                            However,
                                            the parent may submit a request a year after the first enrollment date for
                                            their
                                            information to be destroyed. KIA and its affiliated organizations shall not
                                            be
                                            liable to any participant or their representatives for any loss or damage
                                            where
                                            KIA or its affiliated organizations exercise their right to disclose or
                                            withhold
                                            information (including, without limitation, personal data) according to the
                                            lawful order or otherwise under any applicable laws and regulations of South
                                            Africa.
                                        </p>
                                        <p class="mb-2">
                                            While Kids Innovate Africa (KIA), its owners, directors, staff, and
                                            associates
                                            are happy to assist parents or guardians by having our coaches accompany
                                            learners from school to the training venue, parents, guardians, or any
                                            representative of the child agree that KIA and its affiliates are not liable
                                            for
                                            any unforeseen incidents that may occur during transit.
                                            Parents, guardians, or any representative of the child acknowledge that this
                                            assistance is provided as an optional courtesy and accept full
                                            responsibility
                                            for their child’s safety during the walk from school to the training venue,
                                            releasing KIA, its owners, directors, staff, and associates from any
                                            liability.
                                        </p>
                                        <p class="mb-2">
                                            We reserve the right to change these terms and conditions at any time. Such
                                            changes, modifications, additions, or deletions shall be effective
                                            immediately
                                            upon notice thereof, which may be given through an email.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Accept</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="row bg-success validation-message d-none">
            <p class="text-center text-white">Please fill in everything</p>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="./scripts/forms.js"></script>
</body>

</html>